.mlc_anitim{
			-webkit-animation-duration: 1s; 							 /******change the duration here***/
			-webkit-animation-delay: 0s;     							 /******change the delay here***/
			-webkit-animation-iteration-count: infinite;   		  /******change the cunter here use eg 1 to ... or infinite ***/
		}
		
		
		
